.project-button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  .project-date {
    font-weight: bold;
    color: #777777;
  }

  .robot-arm{
    width: 500px;
    height: 500px;
    transform-origin: 50% 50%;
    position: relative; /* Add this line to make the children positioned relative to this container */
}

.link-container {
    position: absolute;
    transform-origin: 50% 50%;
    width: 100px;
    height: 100px;
    
  }
  
  .joint {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 35px;
    height: 35px;
    background-color: black;
    border-radius: 50%;
  }
  
  .link {
    position: absolute;
    top: 50%;
    left: 50%;
    transform-origin: 0% 0%;
    width: 120px;
    height: 20px;
    background-color: gray;
    transform: translate(0%, -50%);
  }
  
  .end-effector {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(350%, -50%);
    width: 30px;
    height: 30px;
    background-color: red;
    border-radius: 50%;
  }

#joint-angle-slider{
    position: relative;
}